@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

main {
    padding: 10%;

}
main > div{
    padding: 25px;
    text-align: right;
    color: white;  
}

.box {
    
}


.contact-info{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    height: 300px;
}


/*

.contact-info .box-news #map {
    position: fixed;
    top: 200;
    left: 0px;
    height: 10%;
    width: 100px;
}