@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

main {
    padding: 10%;

}
main > div{
    padding: 25px;
    text-align: right;
    color: white;  
}

main .news-biombo {
    box-shadow: 0 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 30px

}

.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.contact-info .box-news{
    box-shadow: 0 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 170px 100px;
    margin-right: 0%;
}

.contact-info .box-news h1{
    color: #444;
    font-size: 22px;
    padding: 10px;
}